<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-12" style="display: flex;justify-content: flex-start;" >
        <div class="col-md-5">
            <form id="update-form" role="form" data-toggle="validator" method="POST"  action="{:url('info/update')}">
                {:token()}
                <div class="box box-success">
                    <div class="panel-body">
                        <div class="box-body box-profile">

                            <h3 class="profile-username text-center">{$row.username|htmlentities}</h3>
                            <div class="form-group">
                                <label for="password" class="control-label">{:__('Password')}:</label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="{:__('Leave password blank if dont want to change')}"
                                       autocomplete="new-password" name="row[password]" value="" data-rule="password"/>
                            </div>

                            <div class="form-group">
                            <label for="usdt_address" class="control-label">{:__('USDT 地址')}:</label>
                            <input type="text" class="form-control" id="usdt_address"
                                   placeholder="{:__('USDT Address')}"
                                   name="row[usdt_address]" value="{$row.usdt_address|htmlentities}"/>
                            </div>


                            <div class="form-group">
                                <label for="id" class="control-label">{:__('商户号')}:</label>
                                <input type="text" class="form-control" id="id"
                                       placeholder="{:__('ID')}"
                                       name="row[id]" value="{$row.id|htmlentities}" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="api_key" class="control-label">{:__('API Key')}:</label>
                                <input type="text" class="form-control" id="api_key"
                                       placeholder="{:__('API Key')}"
                                       name="row[api_key]" value="{$row.api_key|htmlentities}" readonly/>
                            </div>


                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
