<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label for="c-user-name" class="control-label col-xs-12 col-sm-2">{:__('UserName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user-name" class="form-control" name="row[username]" type="text" value="" data-rule="required">
        </div>
    </div>


<!--    // password-->
    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" class="form-control" name="row[password]" type="password" value="" data-rule="required">
        </div>
    </div>

<!--    Status-->
    <div   class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {:build_radios('row[status]', ['0'=>__('Hidden'), '1'=>__('Normal')], 1)}
            </div>
        </div>
    </div>

<!--    沙盒模式-->
    <div class="form-group">
        <label for="c-sandbox" class="control-label col-xs-12 col-sm-2">{:__('IsSandbox')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {:build_radios('row[is_sandbox]', ['1'=>__('TypeSandbox'), '0'=>__('TypeReal')], 0)}
            </div>
        </div>
    </div>

<!--    对接模式-->
    <div class="form-group">
        <label for="c-docking-type" class="control-label col-xs-12 col-sm-2">{:__('DockingType')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {:build_radios('row[docking_type]', ['1'=>__('DockingType1'), '0'=>__('DockingType2')], 1)}
            </div>
        </div>
    </div>

<!--    区域配置-->
    <div class="form-group">
        <label for="c-area-id" class="control-label col-xs-12 col-sm-2">{:__('AreaId')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[area_id]', $configAreaList, 0)}
        </div>
    </div>


<!--    是否代理-->
    <div class="form-group">
        <label for="c-is-agency" class="control-label col-xs-12 col-sm-2">{:__('IsAgency')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                {:build_radios('row[is_agency]', ['1'=>__('TypeAgency'), '0'=>__('TypeMember')], 0)}
            </div>
        </div>
    </div>

<!--    代理ID-->
    <div class="form-group">
        <label for="c-agent-id" class="control-label col-xs-12 col-sm-2">{:__('AgencyId')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[agency_id]', $agentLists, 0)}
        </div>
    </div>

    <!--        ip白名单-->
    <div class="form-group">
        <label for="c-ip_white_list" class="control-label col-xs-12 col-sm-2">{:__('IpWhiteList')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ip_white_list" class="form-control" name="row[ip_white_list]" type="text" value="">
<!--            // 提示-->
            <span class="help-block">{:__('逗号分隔多个')}</span>
        </div>
    </div>

        <div class="form-group layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            </div>
        </div>
</form>
<script>

</script>
