<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-12 col-xs-12" style="display: flex;justify-content: center;">
        <div class="col-md-5 col-xs-12">

            <form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="{:url('security/bindgoogle')}">
                {:token()}

                <div class="box box-success">
                    <div class="panel-body">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center">{:__('Google 验证')}</h3>
                            {if !$row['is_bind_google']}
                            <div class="form-group" style="display: flex;justify-content: center;">
                                {$google_qrcode}
                            </div>
                            {/if}

<!--                           类型 bind 还是 unbind 还是 验证-->
                            <input type="hidden" name="row[type]" value="{$type}"/>
                            <input type="hidden" name="row[id]" value="{$row['id']}"/>

                            <div class="form-group">
                                <label for="google_code" class="control-label">{:__('验证码')}:</label>
                                <input type="text" class="form-control" id="google_code"
                                       placeholder="{:__('请输入验证码')}" name="row[google_code]" value=""/>
                            </div>



                        </div>
                        <div class="form-group" style="display: flex; justify-content: center; gap: 10px;">
                            {if $type == 'bind'}
                            <button type="submit" class="btn btn-success " >{:__('绑定')}</button>
                            {elseif $type == 'unbind'}
                            <button type="submit" class="btn btn-success" >{:__('解绑')}</button>
                            {elseif $type == 'verify'}
                            <button type="submit" class="btn btn-success " >{:__('验证')}</button>
                            {/if}
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
